<%- include('partials/header') -%>

<!-- Title -->
<div class="row">

  <div class="col-lg-6">
    <h1 class="big-heading">Now Autheticate your Drug Prescription easily.</h1>

    <div class="dropdown show">
      <a class="download-button btn btn-danger btn-lg" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user-plus"></i> REGISTER | SIGN UP</a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/patientSignup"><i class="fa-solid fa-user-plus"></i> INDIVIDUAL REGISTER</a>
        <a class="dropdown-item" href="/orgSignup"><i class="fa-solid fa-building"></i> ORGANIZATION REGISTER</a>
      </div>
    </div>
    <a type="button" class="download-button btn btn-outline-light btn-lg" href="/login"><i class="fa-solid fa-right-to-bracket"></i> LOGIN | SIGN IN</a>
  </div>

  <div class="col-lg-6">
    <img class="title-image" src="images/title_image.jpg" alt="iphone-mockup">
  </div>

</div>

</div>
</section>



<%- include('partials/footer') -%>
