<%- include('partials/header') -%>

<!-- Title -->
<div class="row">

  <div class="col-lg-6">
    <h1 class="big-heading">Wating for Admin's Approval</h1>
    <a type="button" class="download-button btn btn-outline-light btn-lg" href="/logout"><i class="fa-solid fa-right-to-bracket"></i> LOGOUT</a>
  </div>

  <div class="col-lg-6">
    <img class="title-image" src="images/wating.jpg" alt="iphone-mockup">
  </div>

</div>

</div>
</section>



<%- include('partials/footer') -%>
